configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  columns: 2;
}
//@theme "/home/$USER/.config/rofi-menus/colors-rofi-dark.rasi"
//@theme "/usr/share/rofi/themes/colors-rofi-dark.rasi"
@theme "/usr/share/rofi/themes/colors-rofi-dark.rasi"
